h2 {
  color: #808080;
}
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .header_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .header_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
}
